# Entorno virtual
.venv/
venv/
env/

# Configuración local
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.eggs/

# Herramientas
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Sistema
.DS_Store
Thumbs.db
